/* app.component.css */

/* Navbar */
.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    flex-wrap: wrap;
}

.navbar-title {
    font-size: 1.5rem;
}

.navbar-menu {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.navbar-menu li {
    display: inline;
}

.navbar-menu a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.navbar-menu a:hover {
    text-decoration: underline;
}

/* Container Layout */
.container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
}

/* Posts Section */
.content {
    flex: 1;
    padding: 1rem;
}


/* Sidebar */
app-sidebar {
    width: 25%;
    background-color: #333;
    padding: 1rem;
    color: white;
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;
}
